module.exports = {
    plugins: ["ignore"],
    overrides: [
        {
            files: ["/src/components/ChipComp.tsx"],
            rules: {
                "ignore/jsx-import": ["off"],
            },
        },
    ],
};
